@tailwind base;
@tailwind components;
@tailwind utilities;

@-moz-document url-prefix() {
  .text-gray-300 {
    color: [desired color] !important;
  }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  .text-gray-300 {
    color: [desired color for dark mode];
  }
}

/* Style the scrollbar across the project */
::-webkit-scrollbar {
  width: 3px; /* Adjust width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* Color of the track/bar background */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Color of the scroll thumb */
  border-radius: 4px; /* Optional: Add border radius to make it round */
}

::-webkit-scrollbar-thumb:hover {
  background: #222; /* Color of the scroll thumb on hover */
}

@media (max-width: 640px) {
  /* This width corresponds to the TailwindCSS breakpoint for medium (md) screens */
  body,
  html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
  }
}

body,
html {
  background: black;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
  opacity: 1;
}
